:root {
    --dark-blue: hsl(198, 62%, 26%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    --soft-cyan: hsl(167, 44%, 70%);
    --grayish-blue: hsl(210, 4%, 67%);
    --soft-red: hsl(7, 99%, 70%);
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --yellow: hsl(51, 100%, 49%);
    --white: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Barlow";
    src: url("./fonts/Barlow-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Fraunces";
    src: url("./fonts/Fraunces_144pt-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Fraunces";
    src: url("./fonts/Fraunces_144pt-Black.ttf") format("truetype");
    font-weight: 900;
}

a {
    display: inline-block;
    text-decoration: none;
}

body {
    color: var(--very-dark-desaturated-blue);
    font-family: "Barlow", sans-serif;
    font-size: 1.125rem;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

.header {
    align-items: center;
    background-image: url("./images/desktop/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    gap: 2em;
    min-height: 45.5rem;
}

.header__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    width: 100%;
}

.header__nav-list {
    align-items: center;
    display: flex;
    gap: 2.5em;
}

.header__nav-link {
    color: var(--white);
}

.cta-button {
    background-color: var(--white);
    border-radius: 35px;
    color: var(--very-dark-desaturated-blue);
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    padding: .8em 1.4em;
    text-transform: uppercase;
}

.header__title {
    color: var(--white);
    font-family: "Fraunces", serif;
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-bottom: .5em;
}

.testimonials__title {
    color: var(--grayish-blue);
    font-family: "Fraunces", sans-serif;
    letter-spacing: .2em;
    text-align: center;
    text-transform: uppercase;
}

.testimonials__list {
    display: flex;
}

.testimonials__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials__image-container {
    height: 75px;
}

.testimonials__image {
    border-radius: 50%;
    height: 100%;
}

.testimonials__quote {
    line-height: 1.6;
    text-align: center;
}

.testimonials__author {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.testimonials__name {
    font-family: "Fraunces", sans-serif;
    font-size: 1.2em;
    font-weight: 900;
}

.testimonials__position {
    color: var(--grayish-blue);
    font-size: .8em;
}

.gallery__list {
    display: flex;
}

.footer {
    align-items: center;
    background-color: var(--soft-cyan);
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    padding: 3.5em 1.5em;
}

.footer__menu {
    display: flex;
    gap: 2.4em;
}

.footer__menu-link {
    color: var(--dark-desaturated-cyan);
    font-size: .8em;
}

.footer__social {
    display: flex;
    gap: 1.2em;
    padding-top: 2.5em;
}